<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Overtime - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="o" value="#{overtimeBean.overtimes}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{o.id}" />
					</p:column>
					<p:column headerText="Start time">
						<h:outputText value="#{o.startTime.time}" />
					</p:column>
					<p:column headerText="End time">
						<h:outputText value="#{o.endTime.time}" />
					</p:column>
					<p:column headerText="Tie-breaking method">
						<h:outputText value="#{o.method.value}" />
					</p:column>
					<p:column headerText="Events">
						<p:dataTable var="e" value="#{o.events}">
							<p:column headerText="Id">
								<h:outputText value="#{e.id}" />
							</p:column>
							<p:column headerText="Event">
								<h:outputText value="#{e}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
