<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<c:if test="#{faceoffBean.selected eq -1}">
		<h:form>
			<h:panelGrid columns="3">
				<h:outputText value="Face-off:" />
				<p:selectOneMenu id="faceoff" value="#{faceoffBean.selected}" style="width:207px" filter="true" filterMatchMode="contains">
					<f:selectItems value="#{faceoffBean.faceoffs}" var="f" itemLabel="#{f.timeEvent.time}: #{f.players.get(0)} - #{f.players.get(1)}" itemValue="#{f.id}" />
				</p:selectOneMenu>
				<p:commandButton value="Find" action="#{faceoffBean.find()}" ajax="false" />
			</h:panelGrid>
		</h:form>
	</c:if>
	<c:if test="#{faceoffBean.selected ne -1}">
		<ui:insert name="else">
			else handle goes here :)
		</ui:insert>
	</c:if>
</ui:fragment>
