<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{faceoffBean.faceoff.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!faceoffBean.enableEditing}" />
		<h:outputText value="Position:" />
		<p:selectOneMenu value="#{faceoffBean.faceoff.position}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!faceoffBean.enableEditing}">
			<f:selectItems value="#{faceoffBean.positions}" var="p" itemLabel="#{p.value}" itemValue="#{p}"/>
		</p:selectOneMenu>
		<h:outputText value="Team one:" />
		<p:selectOneMenu value="#{faceoffBean.teamNameOne}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!faceoffBean.enableEditing}">
			<p:ajax listener="#{faceoffBean.teamOneChanged}" update="p1i"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Player:" />
		<p:selectOneMenu id="p1i" value="#{faceoffBean.p1}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!faceoffBean.enableEditing}">
			<f:selectItems value="#{faceoffBean.teamOne.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
		<h:outputText value="Team two:" />
		<p:selectOneMenu value="#{faceoffBean.teamNameTwo}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!faceoffBean.enableEditing}">
			<p:ajax listener="#{faceoffBean.teamTwoChanged}" update="p2i"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Player:" />
		<p:selectOneMenu id="p2i" value="#{faceoffBean.p2}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!faceoffBean.enableEditing}">
			<f:selectItems value="#{faceoffBean.teamTwo.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
