<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Face-off - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="f" value="#{faceoffBean.faceoffs}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{f.id}" />
					</p:column>
					<p:column headerText="Time">
						<h:outputText value="#{f.timeEvent.time}" />
					</p:column>
					<p:column headerText="Position">
						<h:outputText value="#{f.position.value}" />
					</p:column>
					<p:column headerText="Players">
						<h:outputText value="#{f.players.get(0)} - #{f.players.get(1)}" />
					</p:column>
				</p:dataTable>
			</ui:define>
        </ui:composition>
    </body>
</html>
