<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{teamBean.team.name}" required="true" label="Name" style="width:200px" disabled="#{!teamBean.enableKey}"/>
		<h:outputText value="Since:" />
		<p:calendar value="#{teamBean.team.since.time}" pattern="yyyy/MM/dd" disabled="#{!teamBean.enableEditing}"/>
		<h:outputText value="Coach:" />
		<p:selectOneMenu value="#{teamBean.coach}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!teamBean.enableEditing}">
			<f:selectItems value="#{coachBean.coaches}" var="c" itemLabel="#{c.name}" itemValue="#{c.id}" />
		</p:selectOneMenu>
		<h:outputText value="Arena:" />
		<p:selectOneMenu value="#{teamBean.arena}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!teamBean.enableEditing}">
			<f:selectItems value="#{arenaBean.arenas}" var="a" itemLabel="#{a.name}" itemValue="#{a.name}" />
		</p:selectOneMenu>
		<h:outputText value="Players:" />
		<p:selectManyMenu value="#{teamBean.selectedPlayers}" var="p" style="width:207px" filter="true" filterMatchMode="contains" showCheckbox="true" disabled="#{!teamBean.enableEditing}">
			<f:selectItems value="#{playerBean.players}" var="ps" itemLabel="#{ps.name}" itemValue="#{ps.id}" />
			<p:column>
				<h:outputText value="#{teamBean.playerName(p)}" />
			</p:column>
		</p:selectManyMenu>
		<h:outputText value="Colors:" />
		<p:dataTable id="colorTable" var="c" value="#{teamBean.team.colors}" style="width: 200px;">
			<p:column headerText="Color" style="background-color: #{teamBean.getStyleFor(c)}">
				<h:outputText value="&nbsp;"/>
			</p:column>
		</p:dataTable>
		<p:commandButton value="Add" process="picker @this" action="#{teamBean.addColor}" ajax="true" update="colorTable" rendered="#{teamBean.enableEditing}"/>
		<p:colorPicker id="picker" value="#{teamBean.color}" mode="inline" rendered="#{teamBean.enableEditing}"/>
	</h:panelGrid>
</ui:fragment>