<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Team - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="t" value="#{teamBean.teams}" rows="30" paginator="true">
					<p:column headerText="Name">
						<h:outputText value="#{t.name}" />
					</p:column>
					<p:column headerText="Since">
						<h:outputText value="#{t.since.time}" />
					</p:column>
					<p:column headerText="Coach">
						<h:outputText value="#{t.coach.name}" />
					</p:column>
					<p:column headerText="Arena">
						<h:outputText value="#{t.home.name}" />
					</p:column>
					<p:column headerText="Colors">
						<p:dataTable var="color" value="#{t.colors}">
							<p:column headerText="Color" style="background-color: #{teamBean.getStyleFor(color)}">
								<h:outputText value="&nbsp;"/>
							</p:column>
						</p:dataTable>
					</p:column>
					<p:column headerText="Players">
						<p:dataTable var="player" value="#{t.players}">
							<p:column headerText="Player">
								<h:outputText value="#{player.name}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
        </ui:composition>
    </body>
</html>
