
#top {
    position: relative;
    background-color: black;
    color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#left {
    float: left;
    background-color: black;
    padding: 5px;
    width: 150px;
}

.center_content {
    position: relative;
    background-color: #dddddd;
    padding: 5px;
}

.left_content {
    background-color: black;
    padding: 5px;
    margin-left: 230px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

#top a:link, #top a:visited {
  color: white;
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  color: cyan;
  font-weight : bold;
  text-decoration : underline;
}


