<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{arenaBean.arena.name}" required="true" label="Name" disabled="#{!arenaBean.enableKey}" style="width:200px" />
		<h:outputText value="Length:" />
		<p:inputText value="#{arenaBean.arena.leng}" required="true" label="Length" style="width:200px" disabled="#{!arenaBean.enableEditing}" />
		<h:outputText value="Width:" />
		<p:inputText value="#{arenaBean.arena.width}" required="true" label="Width" style="width:200px" disabled="#{!arenaBean.enableEditing}" />
	</h:panelGrid>
</ui:fragment>
