<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Arena - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="arena" value="#{arenaBean.arenas}" rows="30" paginator="true">
					<p:column headerText="Name">
						<h:outputText value="#{arena.name}" />
					</p:column>
					<p:column headerText="Length">
						<h:outputText value="#{arena.leng}" />
					</p:column>
					<p:column headerText="Width">
						<h:outputText value="#{arena.width}" />
					</p:column>
				</p:dataTable>
            </ui:define>
        </ui:composition>
    </body>
</html>
