<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Season:" />
		<p:selectOneMenu value="#{gameBean.season}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!gameBean.enableEditing}">
			<f:selectItems value="#{seasonBean.seasons}" var="s" itemLabel="#{s.startDate.time} - #{s.endDate.time}" itemValue="#{s.id}" />
		</p:selectOneMenu>
		<h:outputText value="Start time:" />
		<p:calendar value="#{gameBean.game.startTime.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!gameBean.enableEditing}" />
		<h:outputText value="End time:" />
		<p:calendar value="#{gameBean.game.endTime.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!gameBean.enableEditing}" />
		<h:outputText value="Home team:" />
		<p:selectOneMenu value="#{gameBean.homeTeam}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!gameBean.enableEditing}">
			<f:selectItems value="#{teamBean.teams}" var="t" itemLabel="#{t.name}" itemValue="#{t.name}" />
		</p:selectOneMenu>
		<h:outputText value="Opposing team:" />
		<p:selectOneMenu value="#{gameBean.opposingTeam}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!gameBean.enableEditing}">
			<f:selectItems value="#{teamBean.teams}" var="t" itemLabel="#{t.name}" itemValue="#{t.name}" />
		</p:selectOneMenu>
		<h:outputText value="Officials:" />
		<p:selectManyMenu value="#{gameBean.selectedOfficials}" var="o" style="width:207px" filter="true" filterMatchMode="contains" showCheckbox="true" disabled="#{!gameBean.enableEditing}">
			<f:selectItems value="#{officialBean.officials}" var="os" itemLabel="#{os.name}" itemValue="#{os.id}" />
			<p:column>
				<h:outputText value="#{gameBean.officialName(o)}" />
			</p:column>
		</p:selectManyMenu>
	</h:panelGrid>
</ui:fragment>
