<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Game - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="g" value="#{gameBean.games}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{g.id}" />
					</p:column>
					<p:column headerText="Start time">
						<h:outputText value="#{g.startTime.time}" />
					</p:column>
					<p:column headerText="End time">
						<h:outputText value="#{g.endTime.time}" />
					</p:column>
					<p:column headerText="Home team">
						<h:outputText value="#{g.homeTeam.name}" />
					</p:column>
					<p:column headerText="Opposing team">
						<h:outputText value="#{g.opposingTeam.name}" />
					</p:column>
					<p:column headerText="Officials">
						<p:dataTable var="o" value="#{g.officials}">
							<p:column headerText="Official">
								<h:outputText value="#{o.name}" />
							</p:column>
							<p:column headerText="Position">
								<h:outputText value="#{o.position.value}" />
							</p:column>
						</p:dataTable>
					</p:column>
					<p:column headerText="Periods">
						<p:dataTable var="p" value="#{g.periods}">
							<p:column headerText="Id">
								<h:outputText value="#{p.id}" />
							</p:column>
							<p:column headerText="Start time">
								<h:outputText value="#{p.startTime.time}" />
							</p:column>
							<p:column headerText="End time">
								<h:outputText value="#{p.endTime.time}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
