<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Start date:" />
		<p:calendar value="#{seasonBean.season.startDate.time}" pattern="yyyy-MM-dd" disabled="#{!seasonBean.enableEditing}" />
		<h:outputText value="End date:" />
		<p:calendar value="#{seasonBean.season.endDate.time}" pattern="yyyy-MM-dd" disabled="#{!seasonBean.enableEditing}" />
	</h:panelGrid>
</ui:fragment>
