<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Season - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="s" value="#{seasonBean.seasons}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{s.id}" />
					</p:column>
					<p:column headerText="Start date">
						<h:outputText value="#{s.startDate.time}" />
					</p:column>
					<p:column headerText="End date">
						<h:outputText value="#{s.endDate.time}" />
					</p:column>
					<p:column headerText="Games">
						<p:dataTable var="game" value="#{s.games}">
							<p:column headerText="Home team">
								<h:outputText value="#{game.homeTeam}" />
							</p:column>
							<p:column headerText="Opposing team">
								<h:outputText value="#{game.opposingTeam}" />
							</p:column>
							<p:column headerText="Start time">
								<h:outputText value="#{game.startTime.time}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
        </ui:composition>
    </body>
</html>
