<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{substitutionBean.substitution.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!substitutionBean.enableEditing}" />
		<h:outputText value="Team:" />
		<p:selectOneMenu value="#{substitutionBean.teamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!substitutionBean.enableEditing}">
			<p:ajax listener="#{substitutionBean.teamChanged}" update="p1i p2i"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Player In:" />
		<p:selectOneMenu id="p1i" value="#{substitutionBean.p1}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!substitutionBean.enableEditing}">
			<f:selectItems value="#{substitutionBean.team.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
		<h:outputText value="Player Out:" />
		<p:selectOneMenu id="p2i" value="#{substitutionBean.p2}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!substitutionBean.enableEditing}">
			<f:selectItems value="#{substitutionBean.team.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
