<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Game:" />
		<p:selectOneMenu value="#{periodBean.game}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!periodBean.enableEditing}">
			<f:selectItems value="#{gameBean.games}" var="g" itemLabel="#{g.homeTeam.name} vs #{g.opposingTeam.name}: #{g.startTime.time}" itemValue="#{g.id}" />
		</p:selectOneMenu>
		<h:outputText value="Start time:" />
		<p:calendar value="#{periodBean.period.startTime.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!periodBean.enableEditing}" />
		<h:outputText value="End time:" />
		<p:calendar value="#{periodBean.period.endTime.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!periodBean.enableEditing}" />
		<h:outputText value="Events:" />
		<p:selectManyMenu value="#{periodBean.events}" var="e" style="width:207px" filter="true" filterMatchMode="contains" showCheckbox="true" disabled="#{!periodBean.enableEditing}">
			<f:selectItems value="#{eventBean.events}" var="es" itemLabel="#{es}" itemValue="#{es.id}" />
			<p:column>
				<h:outputText value="#{periodBean.eventLabel(e)}" />
			</p:column>
		</p:selectManyMenu>
	</h:panelGrid>
</ui:fragment>
