<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{penaltyBean.penalty.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!penaltyBean.enableEditing}" />
		<h:outputText value="Position:" />
		<p:selectOneMenu value="#{penaltyBean.penalty.type}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<f:selectItems value="#{penaltyBean.types}" var="t" itemLabel="#{t.value}" itemValue="#{t}"/>
		</p:selectOneMenu>
		<h:outputText value="Offender's team:" />
		<p:selectOneMenu value="#{penaltyBean.offenderTeamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<p:ajax listener="#{penaltyBean.offenderTeamChanged}" update="offender served"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Offender:" />
		<p:selectOneMenu id="offender" value="#{penaltyBean.offender}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<f:selectItems value="#{penaltyBean.offenderTeam.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
		<h:outputText value="Served:" />
		<p:selectOneMenu id="served" value="#{penaltyBean.served}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<f:selectItems value="#{penaltyBean.offenderTeam.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
		<h:outputText value="Offended's team:" />
		<p:selectOneMenu value="#{penaltyBean.offendedTeamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<p:ajax listener="#{penaltyBean.offendedTeamChanged}" update="offended"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Offended:" />
		<p:selectOneMenu id="offended" value="#{penaltyBean.offended}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyBean.enableEditing}">
			<f:selectItems value="#{penaltyBean.offendedTeam.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
