<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
            <ui:define name="top">
                Penalty - Insert
            </ui:define>
            <ui:define name="content">
				<h:form>
					<c:set target="#{penaltyBean}" property="enableEditing" value="#{true}" />
					<ui:include src="inputFrag.xhtml" /> <br />
					<p:commandButton value="Insert" action="#{penaltyBean.insert}" ajax="false" />
				</h:form>
            </ui:define>
        </ui:composition>
    </body>
</html>
