<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Penalty - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="p" value="#{penaltyBean.penalties}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{p.id}" />
					</p:column>
					<p:column headerText="Time">
						<h:outputText value="#{p.timeEvent.time}" />
					</p:column>
					<p:column headerText="Type">
						<h:outputText value="#{p.type.value}" />
					</p:column>
					<p:column headerText="Offender">
						<h:outputText value="#{p.offender}" />
					</p:column>
					<p:column headerText="Offended">
						<h:outputText value="#{p.offended}" />
					</p:column>
					<p:column headerText="Served">
						<h:outputText value="#{p.served}" />
					</p:column>
				</p:dataTable>
			</ui:define>
        </ui:composition>
    </body>
</html>
