<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{coachBean.coach.name}" required="true" label="Name" style="width:200px" disabled="#{!coachBean.enableEditing}" />
		<h:outputText value="Age:" />
		<p:inputText value="#{coachBean.coach.age}" required="true" label="Age" style="width:200px" disabled="#{!coachBean.enableEditing}" />
		<h:outputText value="Team:" />
		<p:selectOneMenu id="teams" value="#{coachBean.teamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!coachBean.enableEditing}">
            <f:selectItem itemLabel="Select one" itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
