<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Coach - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="coach" value="#{coachBean.coaches}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{coach.id}" />
					</p:column>
					<p:column headerText="Name">
						<h:outputText value="#{coach.name}" />
					</p:column>
					<p:column headerText="Age">
						<h:outputText value="#{coach.age}" />
					</p:column>
					<p:column headerText="Team">
						<h:outputText value="#{coach.team}" />
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
