<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{penaltyShotBean.penaltyShot.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!penaltyShotBean.enableEditing}" />
		<h:outputText value="Position:" />
		<p:selectOneMenu value="#{penaltyShotBean.penaltyShot.position}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyShotBean.enableEditing}">
			<f:selectItems value="#{penaltyShotBean.positions}" var="p" itemLabel="#{p.value}" itemValue="#{p}"/>
		</p:selectOneMenu>
		<h:outputText value="Team:" />
		<p:selectOneMenu value="#{penaltyShotBean.teamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyShotBean.enableEditing}">
			<p:ajax listener="#{penaltyShotBean.teamChanged}" update="playerList"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Player:" />
		<p:selectOneMenu id="playerList" value="#{penaltyShotBean.player}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!penaltyShotBean.enableEditing}">
			<f:selectItems value="#{penaltyShotBean.team.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
