<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{leagueBean.league.name}" required="true" label="Name" style="width:200px" disabled="#{!leagueBean.enableKey}" />
		<h:outputText value="Abrangence:" />
		<p:inputText value="#{leagueBean.league.abrangence}" required="true" label="Abrangence" style="width:200px" disabled="#{!leagueBean.enableEditing}" />
		<h:outputText value="Since:" />
		<p:calendar value="#{leagueBean.league.since.time}" pattern="yyyy/MM/dd" disabled="#{!leagueBean.enableEditing}" />
		<h:outputText value="Officials:" />
		<p:selectManyMenu value="#{leagueBean.selectedOfficials}" var="o" filter="true" filterMatchMode="contains" showCheckbox="true" style="width:200px" disabled="#{!leagueBean.enableEditing}">
			<f:selectItems value="#{officialBean.officials}" var="os" itemLabel="#{os.name}" itemValue="#{os.id}" />
			<p:column>
				<h:outputText value="#{leagueBean.officialLabel(o)}" />
			</p:column>
		</p:selectManyMenu>
		<h:outputText value="Teams:" />
		<p:selectManyMenu value="#{leagueBean.selectedTeams}" var="t" filter="true" filterMatchMode="contains" showCheckbox="true" style="width:200px" disabled="#{!leagueBean.enableEditing}">
			<f:selectItems value="#{teamBean.teams}" var="ts" itemLabel="#{ts.name}" itemValue="#{ts.name}" />
            <p:column>
                <h:outputText value="#{t}" />
            </p:column>
		</p:selectManyMenu>
		<h:outputText value="Seasons:" />
		<p:selectManyMenu value="#{leagueBean.selectedSeasons}" var="s" filter="true" filterMatchMode="contains" showCheckbox="true" style="width:200px" disabled="#{!leagueBean.enableEditing}">
			<f:selectItems value="#{seasonBean.seasons}" var="ss" itemLabel="#{ss.startDate.time} - #{ss.endDate.time}" itemValue="#{ss.id}" />
			<p:column>
				<h:outputText value="#{leagueBean.seasonLabel(s)}" />
			</p:column>
		</p:selectManyMenu>
	</h:panelGrid>
</ui:fragment>