<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				League - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="l" value="#{leagueBean.leagues}" rows="30" paginator="true">
					<p:column headerText="Name">
						<h:outputText value="#{l.name}" />
					</p:column>
					<p:column headerText="Since">
						<h:outputText value="#{l.since.time}" />
					</p:column>
					<p:column headerText="Abrangence">
						<h:outputText value="#{l.abrangence}" />
					</p:column>
					<p:column headerText="Officials">
						<p:dataTable var="official" value="#{l.officials}">
							<p:column headerText="Id">
								<h:outputText value="#{official.id}" />
							</p:column>
							<p:column headerText="Name">
								<h:outputText value="#{official.name}" />
							</p:column>
						</p:dataTable>
					</p:column>
					<p:column headerText="Teams">
						<p:dataTable var="team" value="#{l.teams}">
							<p:column headerText="Name">
								<h:outputText value="#{team.name}" />
							</p:column>
						</p:dataTable>
					</p:column>
					<p:column headerText="Seasons">
						<p:dataTable var="season" value="#{l.seasons}">
							<p:column headerText="Time span">
								<h:outputText value="#{season.startDate.time} - #{season.endDate.time}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
