<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{playerBean.player.name}" required="true" label="Name" style="width:200px" disabled="#{!playerBean.enableEditing}" />
		<h:outputText value="Age:" />
		<p:inputText value="#{playerBean.player.age}" required="true" label="Age" style="width:200px" disabled="#{!playerBean.enableEditing}" />
		<h:outputText value="Number:" />
		<p:inputText value="#{playerBean.player.number}" required="true" label="Age" style="width:200px" disabled="#{!playerBean.enableEditing}" />
		<h:outputText value="Position:" />
		<p:selectOneMenu value="#{playerBean.player.position}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!playerBean.enableEditing}">
			<f:selectItems value="#{playerBean.positions}" var="p" itemLabel="#{p.value}" itemValue="#{p}"/>
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
