<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Player - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="player" value="#{playerBean.players}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{player.id}" />
					</p:column>
					<p:column headerText="Name">
						<h:outputText value="#{player.name}" />
					</p:column>
					<p:column headerText="Age">
						<h:outputText value="#{player.age}" />
					</p:column>
					<p:column headerText="Position">
						<h:outputText value="#{player.position.value}" />
					</p:column>
					<p:column headerText="Number">
						<h:outputText value="#{player.number}" />
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
