<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<c:if test="#{stoppageBean.selected eq -1}">
		<h:form>
			<h:panelGrid columns="3">
				<h:outputText value="Stoppage:" />
				<p:selectOneMenu value="#{stoppageBean.selected}" style="width:207px" filter="true" filterMatchMode="contains">
					<f:selectItems value="#{stoppageBean.stoppages}" var="s" itemLabel="#{s.timeEvent.time}: #{s.reason.value}" itemValue="#{s.id}" />
				</p:selectOneMenu>
				<p:commandButton value="Find" action="#{stoppageBean.find()}" ajax="false" />
			</h:panelGrid>
		</h:form>
	</c:if>
	<c:if test="#{stoppageBean.selected ne -1}">
		<ui:insert name="else">
			else handle goes here :)
		</ui:insert>
	</c:if>
</ui:fragment>
