<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{stoppageBean.stoppage.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!stoppageBean.enableEditing}" />
		<h:outputText value="Reason:" />
		<p:selectOneMenu value="#{stoppageBean.stoppage.reason}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!stoppageBean.enableEditing}">
			<f:selectItems value="#{stoppageBean.reasons}" var="r" itemLabel="#{r.value}" itemValue="#{r}"/>
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
