<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Name:" />
		<p:inputText value="#{officialBean.official.name}" required="true" label="Name" style="width:200px" disabled="#{!officialBean.enableEditing}" />
		<h:outputText value="Age:" />
		<p:inputText value="#{officialBean.official.age}" required="true" label="Age" style="width:200px" disabled="#{!officialBean.enableEditing}" />
		<h:outputText value="Position:" />
		<p:selectOneMenu value="#{officialBean.official.position}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!officialBean.enableEditing}">
			<f:selectItems value="#{officialBean.positions}" var="p" itemLabel="#{p.value}" itemValue="#{p}"/>
		</p:selectOneMenu>
		<h:outputText value="Leagues:" />
		<p:selectManyMenu value="#{officialBean.selectedLeagues}" var="l" filter="true" filterMatchMode="contains" showCheckbox="true" style="width:200px" disabled="#{!officialBean.enableEditing}">
			<f:selectItems value="#{leagueBean.leagues}" var="league" itemLabel="#{league.name}" itemValue="#{league.name}" />
			<p:column>
				<h:outputText value="#{l}" />
			</p:column>
		</p:selectManyMenu>
	</h:panelGrid>
</ui:fragment>
