<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:h="http://xmlns.jcp.org/jsf/html">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Official - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="official" value="#{officialBean.officials}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{official.id}" />
					</p:column>
					<p:column headerText="Name">
						<h:outputText value="#{official.name}" />
					</p:column>
					<p:column headerText="Age">
						<h:outputText value="#{official.age}" />
					</p:column>
					<p:column headerText="Position">
						<h:outputText value="#{official.position.value}" />
					</p:column>
					<p:column headerText="Leagues">
						<p:dataTable var="league" value="#{official.leagues}">
							<p:column>
								<h:outputText value="#{league.name}" />
							</p:column>
						</p:dataTable>
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
