<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:fragment xmlns="http://www.w3.org/1999/xhtml"
			 xmlns:h="http://xmlns.jcp.org/jsf/html"
			 xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
			 xmlns:p="http://primefaces.org/ui"
			 xmlns:f="http://xmlns.jcp.org/jsf/core">
	<h:panelGrid columns="2" id="inputs">
		<h:outputText value="Time:" />
		<p:calendar value="#{goalBean.goal.timeEvent.time}" pattern="yyyy/MM/dd HH:mm:ss" disabled="#{!goalBean.enableEditing}" />
		<h:outputText value="Player's team:" />
		<p:selectOneMenu value="#{goalBean.playerTeamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!goalBean.enableEditing}">
			<p:ajax listener="#{goalBean.playerTeamChanged}" update="playerList"/>
			<f:selectItem itemLabel="Select one..." itemValue="" />
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
		<h:outputText value="Player that scored:" />
		<p:selectOneMenu id="playerList" value="#{goalBean.player}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!goalBean.enableEditing}">
			<f:selectItems value="#{goalBean.team.players}" var="p" itemLabel="#{p.name}" itemValue="#{p.id}" />
		</p:selectOneMenu>
		<h:outputText value="Team that scored:" />
		<p:selectOneMenu value="#{goalBean.teamName}" style="width:207px" filter="true" filterMatchMode="contains" disabled="#{!goalBean.enableEditing}">
			<f:selectItems value="#{teamBean.teams}" />
		</p:selectOneMenu>
	</h:panelGrid>
</ui:fragment>
