<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <body>
        <ui:composition template="./../mainTemplate.xhtml">
			<ui:define name="top">
				Goal - Search
			</ui:define>
            <ui:define name="content">
				<p:dataTable var="g" value="#{goalBean.goals}" rows="30" paginator="true">
					<p:column headerText="Id">
						<h:outputText value="#{g.id}" />
					</p:column>
					<p:column headerText="Time">
						<h:outputText value="#{g.timeEvent.time}" />
					</p:column>
					<p:column headerText="Player">
						<h:outputText value="#{g.player.name}" />
					</p:column>
					<p:column headerText="Team">
						<h:outputText value="#{g.team.name}" />
					</p:column>
				</p:dataTable>
			</ui:define>
		</ui:composition>
	</body>
</html>
