<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
	  xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
	  xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
	<body>
        <ui:composition template="./mainTemplate.xhtml">
            <ui:define name="top">
                Main Page
            </ui:define>
			<ui:define name="content">
				<c:if test="#{cookieBean.firstTime}">
					<h:form>
						It's the first time that you load this application. Would you like to add some data to the database?<br />
						<p:commandButton value="Yes" action="#{cookieBean.yes}" ajax="false" />
						<p:commandButton value="No" action="#{cookieBean.no}" ajax="false" />
					</h:form>
				</c:if>
			</ui:define>
        </ui:composition>
    </body>
</html>
