<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
	  xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <h:outputStylesheet name="./css/default.css"/>
        <h:outputStylesheet name="./css/cssLayout.css"/>
		<style>
			.ui-slidemenu-wrapper {
				height: 220px !important;
			}
			.ui-slidemenu-content {
				height: 210px !important;
			}
		</style>
        <title>Hockey Web App</title>
    </h:head>
    <h:body>
		<ui:debug hotkey="x"/>
        <div id="top">
            <h1>Hockey Web App - <ui:insert name="top"></ui:insert></h1>
        </div>
        <div>
            <div id="left">
                <ui:insert name="left">
					<p:slideMenu style="width:200px">
						<p:submenu label="People">
							<p:submenu label="Officials">
								<p:menuitem value="Insert" outcome="/official/insert" />
								<p:menuitem value="Update" outcome="/official/update" />
								<p:menuitem value="Search" outcome="/official/search" />
								<p:menuitem value="Delete" outcome="/official/delete" />
							</p:submenu>
							<p:submenu label="Players">
								<p:menuitem value="Insert" outcome="/player/insert" />
								<p:menuitem value="Update" outcome="/player/update" />
								<p:menuitem value="Search" outcome="/player/search" />
								<p:menuitem value="Delete" outcome="/player/delete" />
							</p:submenu>
							<p:submenu label="Coaches">
								<p:menuitem value="Insert" outcome="/coach/insert" />
								<p:menuitem value="Update" outcome="/coach/update" />
								<p:menuitem value="Search" outcome="/coach/search" />
								<p:menuitem value="Delete" outcome="/coach/delete" />
							</p:submenu>
						</p:submenu>
						<p:submenu label="Arenas &amp; Teams">
							<p:submenu label="Arenas">
								<p:menuitem value="Insert" outcome="/arena/insert" />
								<p:menuitem value="Update" outcome="/arena/update" />
								<p:menuitem value="Search" outcome="/arena/search" />
								<p:menuitem value="Delete" outcome="/arena/delete" />
							</p:submenu>
							<p:submenu label="Teams">
								<p:menuitem value="Insert" outcome="/team/insert" />
								<p:menuitem value="Update" outcome="/team/update" />
								<p:menuitem value="Search" outcome="/team/search" />
								<p:menuitem value="Delete" outcome="/team/delete" />
							</p:submenu>
						</p:submenu>
						<p:submenu label="Leagues &amp; Seasons">
							<p:submenu label="Leagues">
								<p:menuitem value="Insert" outcome="/league/insert" />
								<p:menuitem value="Update" outcome="/league/update" />
								<p:menuitem value="Search" outcome="/league/search" />
								<p:menuitem value="Delete" outcome="/league/delete" />
							</p:submenu>
							<p:submenu label="Seasons">
								<p:menuitem value="Insert" outcome="/season/insert" />
								<p:menuitem value="Update" outcome="/season/update" />
								<p:menuitem value="Search" outcome="/season/search" />
								<p:menuitem value="Delete" outcome="/season/delete" />
							</p:submenu>
						</p:submenu>
						<p:submenu label="Games, Periods &amp; Events">
							<p:submenu label="Games">
								<p:menuitem value="Insert" outcome="/game/insert" />
								<p:menuitem value="Update" outcome="/game/update" />
								<p:menuitem value="Search" outcome="/game/search" />
								<p:menuitem value="Delete" outcome="/game/delete" />
							</p:submenu>
							<p:submenu label="Periods">
								<p:submenu label="Normal Periods">
									<p:menuitem value="Insert" outcome="/period/insert" />
									<p:menuitem value="Update" outcome="/period/update" />
									<p:menuitem value="Search" outcome="/period/search" />
									<p:menuitem value="Delete" outcome="/period/delete" />
								</p:submenu>
								<p:submenu label="Overtimes">
									<p:menuitem value="Insert" outcome="/overtime/insert" />
									<p:menuitem value="Update" outcome="/overtime/update" />
									<p:menuitem value="Search" outcome="/overtime/search" />
									<p:menuitem value="Delete" outcome="/overtime/delete" />
								</p:submenu>
							</p:submenu>
							<p:submenu label="Events">
								<p:submenu label="Faceoffs">
									<p:menuitem value="Insert" outcome="/faceoff/insert" />
									<p:menuitem value="Update" outcome="/faceoff/update" />
									<p:menuitem value="Search" outcome="/faceoff/search" />
									<p:menuitem value="Delete" outcome="/faceoff/delete" />
								</p:submenu>
								<p:submenu label="Goals">
									<p:menuitem value="Insert" outcome="/goal/insert" />
									<p:menuitem value="Update" outcome="/goal/update" />
									<p:menuitem value="Search" outcome="/goal/search" />
									<p:menuitem value="Delete" outcome="/goal/delete" />
								</p:submenu>
								<p:submenu label="Penalties">
									<p:menuitem value="Insert" outcome="/penalty/insert" />
									<p:menuitem value="Update" outcome="/penalty/update" />
									<p:menuitem value="Search" outcome="/penalty/search" />
									<p:menuitem value="Delete" outcome="/penalty/delete" />
								</p:submenu>
								<p:submenu label="Penalty Shots">
									<p:menuitem value="Insert" outcome="/penaltyShot/insert" />
									<p:menuitem value="Update" outcome="/penaltyShot/update" />
									<p:menuitem value="Search" outcome="/penaltyShot/search" />
									<p:menuitem value="Delete" outcome="/penaltyShot/delete" />
								</p:submenu>
								<p:submenu label="Stoppages">
									<p:menuitem value="Insert" outcome="/stoppage/insert" />
									<p:menuitem value="Update" outcome="/stoppage/update" />
									<p:menuitem value="Search" outcome="/stoppage/search" />
									<p:menuitem value="Delete" outcome="/stoppage/delete" />
								</p:submenu>
								<p:submenu label="Substitutions">
									<p:menuitem value="Insert" outcome="/substitution/insert" />
									<p:menuitem value="Update" outcome="/substitution/update" />
									<p:menuitem value="Search" outcome="/substitution/search" />
									<p:menuitem value="Delete" outcome="/substitution/delete" />
								</p:submenu>
							</p:submenu>
						</p:submenu>
					</p:slideMenu>
				</ui:insert>
            </div>
            <div id="content" class="left_content">
                <ui:insert name="content">Content</ui:insert>
            </div>
        </div>
    </h:body>
</html>
